.ad-tab-header {
	padding: 1rem .5rem .5rem;
	overflow-x: scroll;
	border-bottom: 2px solid rgba($blue, .5);
}
.ad-tab-list {
	@include inline-list;
	display: inline-flex;
	width: 30rem;
}
.ad-tab {
	cursor: pointer;
	font-weight: bold;
	padding: .25rem .75rem;
	transition: {
		property: color, box-shadow;
		duration: .2s;
		timing-function: $cubic;
	}
	&.active {
		color: $blue;
		box-shadow: inset 0 -.125rem $blue;
	}
}
.ad-feed-wrap {
	padding: 1rem 1rem 5rem;
}
.ad {
	background: $white;
	padding: 1rem;
	margin-bottom: .5rem;
	&.doer-ad {
		.ad-header {
			background: $red;
		}
		.ad-modal-btn {
			background: $red;
			border: .125em solid $red;
		}
	}
	&.donator-ad {
		.ad-header {
			background: $green;
		}
		.ad-modal-btn {
			background: $green;
			border: .125em solid $green;
		}
	}
	&.verifier-ad {
		.ad-header {
			background: $purple;
		}
		.ad-modal-btn {
			background: $purple;
			border: .125em solid $purple;
		}
	}
	&.requester-ad {
		.ad-header {
			background: $blue;
		}
		.ad-modal-btn {
			background: $blue;
			border: .125em solid $blue;
		}
	}
	.ad-modal-btn {
		width: 100%;
		font-size: 1rem;
		&:active, &:focus {
			color: $white;
		}
	}
}
.ad-header {
	margin: .5rem 0;
	padding: .5rem 1rem;
	.ad-title, .ad-subtitle {
		color: rgba($white, .95);
	}
	.ad-title {
		
	}
	.ad-subtitle {
		
	}
}
.ad-image-wrap {
	background: darken($white, 5%);
	padding: .25rem;
	margin-bottom: .5rem;
	.ad-image {
		max-height: 25vh;
	}
}
.ad-image-caption {
	color: rgba($black, .8);
	font-size: .8em;
	margin-top: .5rem;
}

@include breakpoint($tablet) {
	.ad-feed-wrap {
		display: grid;
		grid: {
			template: {
				columns: repeat(2, 1fr);
				rows: auto;
			}
			gap: 1rem;
		}
	}
	.ad {
		margin: 0;
	}
}

@include breakpoint($desktop) {
	.ad-feed-wrap {
		max-width: 90rem;
		margin: 0 auto;
		grid: {
			template-columns: repeat(3, 1fr);
			gap: 1.5rem;
		}
	}
}