.ad-tab-header {
	padding: 1rem 0.5rem 0.5rem;
	overflow-x: scroll;
	border-bottom: 2px solid rgba($blue, 0.5);
}
.ad-tab-list {
	@include inline-flex-list;
	width: 30rem;
}
.ad-tab {
	cursor: pointer;
	font-weight: bold;
	padding: 0.25rem 0.75rem;
	transition: {
		property: color, box-shadow;
		duration: 0.2s;
		timing-function: $cubic;
	}
	&.active {
		color: $blue;
		box-shadow: inset 0 -0.125rem $blue;
	}
}
.ad-feed-wrap {
	padding: 0 0 5rem;
	perspective: 1000rem;
	overflow: hidden;
}
.ad {
	position: relative;
	background: $white;
	margin-bottom: 0.5rem;
	overflow: hidden;
	min-height: 10rem;
	transition: {
		property: transform, margin;
		duration: 0.1s;
	}
	&.doer-ad {
		.ad-header {
			.ad-title,
			.ad-subtitle {
				color: $red;
			}
		}
		.ad-modal-btn {
			background: $red;
			border: 0.125em solid $red;
		}
	}
	&.donator-ad {
		.ad-header {
			.ad-title,
			.ad-subtitle {
				color: $green;
			}
		}
		.ad-modal-btn {
			background: $green;
			border: 0.125em solid $green;
		}
	}
	&.verifier-ad {
		.ad-header {
			.ad-title,
			.ad-subtitle {
				color: $purple;
			}
		}
		.ad-modal-btn {
			background: $purple;
			border: 0.125em solid $purple;
		}
	}
	&.requester-ad {
		.ad-header {
			.ad-title,
			.ad-subtitle {
				color: $blue;
			}
		}
		.ad-modal-btn {
			background: $blue;
			border: 0.125em solid $blue;
		}
	}
	.ad-modal-btn {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		font-size: 1rem;
		border-radius: 0;
		z-index: 15;
		&:active,
		&:focus,
		&:hover {
			color: $white;
		}
	}
}
.ad-header {
	position: relative;
	z-index: 2;
	padding: 0.5rem 1rem 2rem;
	background: linear-gradient(
		rgba($white, 0.9),
		rgba($white, 0.75) 3rem,
		transparent
	);
	.ad-title {
		font-weight: bold;
	}
}
.ad-image-wrap {
	.ad-image {
		position: absolute;
		bottom: -10rem;
		left: 0;
		min-width: 100%;
	}
}
.ad-image-caption {
	color: rgba($black, 0.8);
	font-size: 0.8em;
}
.funding-progress-wrap {
	.funding-progress-label {
		display: block;
		font-size: 1.2rem;
		cursor: inherit;
		&.goal-label {
			margin-bottom: 0.5rem;
		}
		&.complete-label {
			margin-top: 0.5rem;
			font-size: 1rem;
			color: rgba($black, 0.5);
		}
	}
	.funding-progress-slider {
		border: 1px solid rgba($black, 0.5);
		background: linear-gradient(to right, $red, $yellow, $green);
	}
}

@include breakpoint($phone-down) {
	.ad-feed-wrap {
		display: grid;
		padding: 1rem 1rem 5rem;
		grid: {
			template: {
				columns: repeat(2, 1fr);
				rows: auto;
			}
			gap: 1rem;
		}
	}
	.ad {
		border: 1px solid rgba($black, 0.5);
	}
}

@include breakpoint($tablet) {
	.ad-tab-header {
		padding: 1rem;
	}
	.ad-tab-list {
		width: auto;
	}
	.ad-tab {
		font-size: 1.2em;
	}
	.ad-feed-wrap {
		grid-template-columns: repeat(3, 1fr);
	}
	.ad {
		margin: 0;
	}
}

@include breakpoint($desktop) {
	.ad-feed-wrap {
		max-width: 90rem;
		margin: 0 auto;
		grid: {
			template-columns: repeat(4, 1fr);
			gap: 1.5rem;
		}
	}
}
