.card-wrap {
	width: 100%;
	display: inline-flex;
	justify-content: space-around;
	align-items: stretch;
	padding: 1em;
	border-radius: .5em;
	box-shadow: .25rem .5rem 1rem rgba($black, .5);
	opacity: 0;
	transform: translateX(-2rem);
  transition: {
    property: opacity, transform;
    duration: .2s;
		timing-function: $cubic;
  }
	&.color-identity-W {
		background: linear-gradient($mtg-white,
			darken($mtg-white, 10%) 4.49rem,
			$white 4.5rem,
			$white);
	}
	&.color-identity-U {
		background: linear-gradient($mtg-blue,
			darken($mtg-blue, 10%) 4.49rem,
			$white 4.5rem,
			$white);
	}
	&.color-identity-B {
		background: linear-gradient($mtg-black,
			darken($mtg-black, 10%) 4.49rem,
			$white 4.5rem,
			$white);
	}
	&.color-identity-R {
		background: linear-gradient($mtg-red,
			darken($mtg-red, 10%) 4.49rem,
			$white 4.5rem,
			$white);
	}
	&.color-identity-G {
		background: linear-gradient($mtg-green,
			darken($mtg-green, 10%) 4.49rem,
			$white 4.5rem,
			$white);
	}
	&.color-identity-C {
		background: linear-gradient($mtg-colorless,
			darken($mtg-colorless, 10%) 4.49rem,
			$white 4.5rem,
			$white);
	}
	&.color-identity-M {
		background: linear-gradient($mtg-gold,
			darken($mtg-gold, 10%) 4.49rem,
			$white 4.5rem,
			$white);
	}
	&.display {
		opacity: 1;
		transform: translateX(0);
	}
}
.card-img-wrap {
	flex-basis: 25%;
	img {
		background: rgba($black, .5);
    min-height: 25vh;
		box-shadow: 0 0 .5rem rgba($black, .5);
		border-radius: .75rem;
	}
}
.card-info {
	flex-basis: 75%;
	padding: 0 1rem;
}
.card-header-row {
	margin-bottom: 1.5rem;
}
.card-footer-row {
	padding-top: .5rem;
	border-top: .25rem solid $blue;
	margin-top: .5rem;
}
.card-info-mana-cost {
	float: right;
	margin-top: -2rem;
	i {
		margin-left: .25rem;
	}
}
.card-info-text {
	font-size: .8em;
	margin: 0 0 .5rem;
	i {
		margin-right: .25rem;
	}
}
.card-info-flavor-text {
	font-size: .8em;
	margin: 0 0 .5rem;
	font-style: italic;
}
.card-info-set-number {
	font-weight: 400;
	text-align: right;
	.card-info-set-symbol {
		padding-right: .5rem;
		font-size: 1.5em;
	}
	.card-info-set-text {
		color: rgba($black, .5);
	}
}