.loader-wrap {
	display: flex;
	justify-content: space-around;
}
.loader {
	padding: .5rem;
}
.loader-icon {
	margin: .25rem;
	&:first-of-type {
		animation: $loader-time $cubic loader infinite;
	}
	&:nth-of-type(2) {
		animation: $loader-time $cubic .2s loader infinite;
	}
	&:nth-of-type(3) {
		animation: $loader-time $cubic .4s loader infinite;
	}
}