.loader-wrap {
  display: flex;
  justify-content: space-around;
}

.loader-icon {
  margin: 0.25rem;

  &:first-of-type {
    animation: $loader-time $cubic loader infinite;
  }

  &:nth-of-type(2) {
    animation: $loader-time $cubic $fast loader infinite;
  }
  
  &:nth-of-type(3) {
    animation: $loader-time $cubic ($fast * 2) loader infinite;
  }
}
