.map-wrap,
.mini-map-wrap {
  position: relative;
  width: 100vw;
  overflow: hidden;
}

.map-wrap {
  height: 8rem;
  margin-top: 1rem;
}

.mini-map-wrap {
  height: 10rem;
  margin: 0 -1.5rem -0.5rem;
}
