.menu-toggle-btn,
.missions-btn {
  font-size: 2.25em;
}

.menu-toggle-btn,
.missions-btn a {
  color: darken($white, 25%);

  transition: {
    property: color;
    duration: $fast;
    timing-function: $cubic;
  }

  &:hover,
  &:active {
    color: $blue;
  }
}

.missions-btn {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 2.25em;
}

.menu-close-btn {
  opacity: 0;
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 2rem;
  font-size: 1.5em;
  text-align: center;
}

.menu-drawer {
  background: $white;
  position: absolute;
  top: -1em;
  left: -100vw;
  width: calc(100vw - 3rem);
  height: 100vh;
  z-index: 11;
  opacity: 0;
  padding: 1rem;
  box-shadow: 0 0 0.5rem rgba($black, 0.25);

  transition: {
    property: opacity, left;
    duration: $medium;
    timing-function: $cubic;
  }

  &.open-drawer {
    opacity: 1;
    left: -1.5em;

    .menu-close-btn {
      opacity: 1;
    }
  }
}

.menu-header {
  padding: 0 0 0.5em;
  border-bottom: 2px solid rgba($black, 0.25);

  text: {
    align: center;
    transform: uppercase;
  }
}

.menu-list {
  @include pseudo-list;
  padding: 1rem;
}

.menu-item {
  padding: 0.5rem 0;
  text-transform: uppercase;
}

.subheader-content {
  @include inline-flex;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0.5rem 1rem;
  color: rgba($black, 0.5);
  font-size: 0.8rem;
}

@include breakpoint($tablet) {
  .menu-drawer {
    width: 20rem;
  }
}
