.modal {
	position: absolute;
	top: 3rem;
	left: 1rem;
	width: calc(100% - 2rem);
	height: calc(100vh - 4rem);
	background: $menu-background;
	box-shadow: $menu-shadow;
	z-index: 11;
	padding: 1rem;
}
form {
	label {
		&.input-label {
			
		}
		&.select-label {
			
		}
	}
	input {
		
	}
	select {
		
	}
}