.places-autocomplete {
  position: relative;

  .input-field {
    border: 0;

    font: {
      size: 1rem;
      weight: 300;
    }
  }

  .autocomplete-dropdown-container {
    position: absolute;
    top: -100vh;
    left: -1px;

    &:not(:empty) {
      top: 2rem;
      width: calc(100% + 2px);
      max-height: 10rem;
      background: $white;
      overflow: auto;
      z-index: 10;
      border: 1px solid rgba($black, 0.5);
    }
  }

  .sugestion-item {
    cursor: pointer;
    
    font: {
      size: .8rem;
      weight: 300;
    }
    
    &.active,
    &:active,
    &:hover {
      background: darken($white, 5%);
    }
  }
}
