.profile-article {
  &:not(:last-of-type) {
    padding-bottom: 0.5rem;
    border-bottom: 1px solid rgba($black, 0.25);
    margin-bottom: 0.5rem;
  }
  &.open {
    .profile-content-wrap {
      max-height: 11rem;
      opacity: 1;
      padding: 0.5rem 0;
    }
  }
}
.profile-article-header {
  @include inline-flex;
}
.profile-icon {
  color: $blue;
}
.profile-content-wrap {
  max-height: 0;
  opacity: 0;
  overflow: auto;
  padding: 0;
  transition: {
    property: max-height, opacity, padding;
    duration: $fast;
    timing-function: $cubic;
  }
}
.user-info-area {
  text-align: center;
  padding: 2rem 0 0.5rem;
  .user-icon,
  .user-image {
    color: $white;
    background: rgba($black, 0.1);
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    border: 0.125rem solid rgba($black, 0.25);
  }
  .user-icon {
    padding: 0.25rem;
  }
  .user-image {
    margin: 0 auto;
    overflow: hidden;
  }
  .user-name {
    padding-top: 1rem;
    color: rgba($black, 0.9);
    &.not-signed-in {
      color: rgba($black, 0.75);
    }
  }
}
.discovery-settings-header {
  padding: 0 0 1rem;
  text-transform: uppercase;
}
.settings-box {
  position: relative;
  padding: 1rem;
  &:not(:last-of-type) {
    border-bottom: 1px solid rgba($black, 0.5);
  }
}
.setting-icon {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  color: rgba($black, 0.5);
  width: 1rem;
  text-align: center;
}
.setting-label {
  margin-bottom: 0.5rem;
}
