.scenario-content-wrap {
  margin-top: 1em;
  .back-btn {
    position: absolute;
    top: 16rem;
    right: 1rem;
    border-radius: 50%;
    z-index: 2;
  }
  .scenario-footer {
    margin: 0.5rem -1.5rem 0;
    padding: 0.5rem 1.5rem;
    width: calc(100% + 3rem);
  }
}
.requester-scenario-content {
  .back-btn {
    top: 23rem;
  }
}
.scenario-content-superheader {
  background: darken($white, 10%);
  margin: 0 -1.5rem;
  padding: 1rem;
  .mission-status-header {
    padding-bottom: 0.5rem;
    border-bottom: 0.125rem solid rgba($black, 0.25);
    margin-bottom: 0.5rem;
  }
  .mission-status-label {
    font-weight: bold;
  }
  .verification-list {
    @include pseudo-list;
  }
  .verification {
    @include inline-flex;
    font-size: 0.7rem;
  }
  .status-name,
  .status-icon {
    font-style: italic;
  }
  .status-icon {
    display: inline-block;
    width: 2rem;
    text-align: center;
    color: rgba($black, 0.5);
    &.verified {
      color: $green-bright;
    }
  }
}
.scenario-content-image-wrap {
  position: relative;
  max-height: 12rem;
  width: 100vw;
  margin: 0 -1.5rem;
  overflow: hidden;
}
.scenario-image-caption {
  position: absolute;
  top: 1em;
  right: 1em;
  color: rgba($white, 0.9);
  font-style: italic;
  font-size: 0.8em;
  background: rgba($black, 0.25);
  padding: 0.25rem 0.5rem;
  border: 0.0625em solid rgba($black, 0.3);
  border-radius: 0.5rem;
}

.scenario-content-header {
  position: relative;
  z-index: 2;
  margin-top: 1rem;
  .scenario-title {
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
    padding-bottom: 0.5rem;
    border-bottom: 1px dashed $orange;
    margin-bottom: 0.5rem;
  }
}

.scenario-content-body {
  color: rgba($black, 0.8);
  font-size: 0.8em;
  margin-top: 0.5rem;
}
.job-status-header {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  .job-status-label {
    font-weight: bold;
  }
}
.job-card {
  margin-bottom: 1rem;
  .card-label {
    font-size: 1rem;
    font-weight: bold;
  }
  .done-job-icon,
  .do-job-btn {
    float: right;
    margin-top: -1.25rem;
  }
  .done-job-icon {
    color: $green-bright;
  }
  .do-job-btn {
    min-width: 4rem;
  }
}

@include breakpoint($tablet) {
  .adcontent-page {
    .scenario-content-body {
      padding-left: 1rem;
      flex-grow: 5;
    }
  }
}
