.scenario {
  background: $white;
  margin-bottom: 1rem;
  box-shadow: $card-shadow;
  opacity: 1;
  transition: {
    property: margin, opacity;
    duration: $fast;
    timing-function: $cubic;
  }
  .accept-scenario-btn {
    position: absolute;
    bottom: -1rem;
    right: 0.5rem;
    width: 2rem;
    height: 2rem;
    padding-top: 0.4rem;
    font-size: 1rem;
    text-align: center;
    border-radius: 1rem;
    background: darken($white, 25%);
    z-index: 10;
    &:active,
    &:focus,
    &:hover {
      color: $white;
    }
  }
  .pseudo-preview,
  .pseudo-up,
  .pseudo-before,
  .pseudo-after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: $white;
    background: rgba($white, 0.75);
    text-align: center;
    font-size: 1.5rem;
    transition: {
      property: opacity;
      duration: $very-fast;
      timing-function: $cubic;
    }
  }
  .pseudo-main-text {
    font-weight: bold;
    color: $orange;
    text-transform: uppercase;
  }
  .pseudo-sub-text {
    color: $blue;
  }
  .action {
    position: absolute;
  }
  .up-action {
    top: 1rem;
    left: 0;
    width: 100%;
    text-align: center;
  }
  .left-action,
  .right-action {
    top: 8rem;
    padding: 1rem;
  }
  .left-action {
    text-align: right;
    left: 0;
    width: 50%;
  }
  .right-action {
    text-align: left;
    right: 0;
    width: 50%;
  }
  .down-action {
    bottom: 2rem;
    left: 0;
    width: 100%;
  }
  .touch-icon,
  .arrow {
    color: $blue;
    font-size: 2.5rem;
  }
  .touch-icon {
    font-size: 5rem;
  }
  .arrow {
    position: relative;
    font-size: 2.5rem;
    border: 1px dashed $blue;
    margin: 0 auto;
    svg {
      position: absolute;
    }
  }
  .arrow-up {
    width: 1px;
    height: 6rem;
    svg {
      top: -1rem;
      left: -0.75rem;
    }
  }
  .arrow-left,
  .arrow-right {
    width: 8rem;
    height: 1px;
    svg {
      top: -1.25rem;
    }
  }
  .arrow-left svg {
    left: -0.25rem;
  }
  .arrow-right svg {
    right: -0.25rem;
  }
  .touch-icon {
    position: absolute;
    top: 11rem;
    left: 0;
    transform: rotate(15deg);
    width: 100%;
    text-align: center;
  }
  .preview-dismiss-btn {
    background: transparent;
    font-size: 1rem;
  }
}
.scenario-image-wrap {
  height: 10rem;
  overflow: hidden;
  padding: 0.25rem;
  .scenario-image {
    min-width: 100%;
    background: rgba($black, 0.5);
  }
}
.scenario-image-caption {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  color: rgba($white, 0.9);
  font-style: italic;
  font-size: 0.8em;
  background: rgba($black, 0.25);
  padding: 0.25rem 0.5rem;
  border: 0.0625em solid rgba($black, 0.3);
  border-radius: 0.5rem;
}
.scenario-body {
  padding: 1rem;
}
.scenario-description {
  margin-bottom: 0.5rem;
}
.scenario-header {
  position: relative;
  z-index: 2;
  .scenario-title {
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
    padding-bottom: 0.5rem;
    border-bottom: 1px dashed $orange;
    margin-bottom: 0.5rem;
  }
}
.scenario-footer {
  display: inline-flex;
  justify-content: space-between;
  width: calc(100% + 2rem);
  background: #ddd;
  margin: 1rem -1rem -1rem;
  padding: 1rem;
  .scenario-funding-goal,
  .scenario-task-wrap {
    flex-grow: 1;
    flex-basis: 40%;
  }
  .funding-goal-label {
    font-size: 0.8rem;
    margin-bottom: 0.25rem;
  }
  .scenario-task-wrap {
    margin-left: 2rem;
  }
  h4 {
    font-weight: bold;
    padding-bottom: 0.5rem;
  }
  .goals-list {
    @include inline-list;
  }
  .goal-icon {
    color: rgba($black, 0.1);
    margin-right: 0.25rem;
    img {
      max-width: 1.35rem;
    }
    &.complete {
      color: $orange;
    }
  }
}
.goal {
  font-weight: $bold-weight;
  background: rgba($black, 0.1);
  border-radius: 0.25rem;
  margin: 0 0.25rem 0.25rem;
  padding: 0.25rem 0.5rem;
  flex-basis: 45%;
  flex-grow: 1;
  &.complete-goal {
    background: $progress-green;
  }
  .form-input {
    float: right;
  }
}
.funding-progress-wrap {
  .funding-progress-label {
    display: block;
    font-size: 1.2rem;
    cursor: inherit;
    &.goal-label {
      margin-bottom: 0.5rem;
    }
    &.complete-label {
      margin-top: 0.5rem;
      font-size: 1rem;
      color: rgba($black, 0.5);
    }
  }
}

@include breakpoint($phone-down) {
  .scenario-feed-wrap {
    display: grid;
    margin: 0 -1rem;
    padding: 1rem 2rem;
    grid: {
      template: {
        columns: repeat(2, 1fr);
        rows: auto;
      }
      gap: 1rem;
    }
  }
  .scenario {
    border: 1px solid rgba($black, 0.5);
    .pseudo-preview,
    .pseudo-up,
    .pseudo-before,
    .pseudo-after {
      display: none;
    }
  }
}

@include breakpoint($tablet) {
  .scenario-feed-wrap {
    margin: 0 -1rem;
    padding: 1rem 2rem;
  }
  .scenario-tab {
    font-size: 1.2em;
  }
  .scenario-feed-wrap {
    grid-template-columns: repeat(3, 1fr);
  }
}

@include breakpoint($desktop) {
  .scenario-feed-wrap {
    max-width: 90rem;
    margin: 0 auto;
    grid-gap: 1.5rem;
  }
}
