.scenario {
  background: $white;
  margin-bottom: 1rem;
  box-shadow: $card-shadow;
  opacity: 1;
  transition: {
    property: margin, opacity;
    duration: $fast;
    timing-function: $cubic;
  }
  .accept-scenario-btn {
    position: absolute;
    bottom: -1rem;
    right: 0.5rem;
    width: 2rem;
    font-size: 1rem;
    text-align: center;
    border-radius: 1rem;
    background: darken($white, 25%);
    &:active,
    &:focus,
    &:hover {
      color: $white;
    }
  }
  .pseudo-before,
  .pseudo-after {
    position: absolute;
    top: 0;
    width: 75%;
    height: 100%;
    z-index: 3;
    color: rgba($white, 0.5);
    text-align: center;
    font-size: 2.5rem;
    padding-top: 4rem;
    opacity: 0;
    transition: {
      property: opacity;
      duration: $very-fast;
      timing-function: $cubic;
    }
  }
  .pseudo-before {
    z-index: 0;
    left: 0;
    background: linear-gradient(to right, $green, transparent);
  }
  .pseudo-after {
    z-index: 0;
    right: 0;
    background: linear-gradient(to left, $red, transparent);
  }
}
.scenario-image-wrap {
  height: 10rem;
  overflow: hidden;
  padding: 0.25rem;
  .scenario-image {
    min-width: 100%;
    background: rgba($black, 0.5);
  }
}
.scenario-image-caption {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  color: rgba($white, 0.9);
  font-style: italic;
  font-size: 0.8em;
  background: rgba($black, 0.25);
  padding: 0.25rem 0.5rem;
  border: 0.0625em solid rgba($black, 0.3);
  border-radius: 0.5rem;
}
.scenario-body {
  padding: 1rem;
}
.scenario-header {
  position: relative;
  z-index: 2;
  padding-bottom: 1rem;
  .scenario-title {
    font-weight: $h1-weight;
    text-transform: uppercase;
  }
}
.scenario-footer {
  display: inline-flex;
  justify-content: space-between;
  width: calc(100% + 2rem);
  background: #ddd;
  margin: 1rem -1rem -1rem;
  padding: 1rem;
  .scenario-funding-goal,
  .scenario-task-wrap {
    flex-grow: 1;
    flex-basis: 40%;
  }
  .funding-goal-label {
    font-size: 0.8rem;
    margin-bottom: 0.25rem;
  }
  .scenario-task-wrap {
    margin-left: 1rem;
  }
  h4 {
    font-weight: bold;
    padding-bottom: 0.5rem;
  }
}
.goal {
  font-weight: $bold-weight;
  background: rgba($black, 0.1);
  border-radius: 0.25rem;
  margin: 0 0.25rem 0.25rem;
  padding: 0.25rem 0.5rem;
  flex-basis: 45%;
  flex-grow: 1;
  &.complete-goal {
    background: $progress-green;
  }
  .form-input {
    float: right;
  }
}
.funding-progress-wrap {
  .funding-progress-label {
    display: block;
    font-size: 1.2rem;
    cursor: inherit;
    &.goal-label {
      margin-bottom: 0.5rem;
    }
    &.complete-label {
      margin-top: 0.5rem;
      font-size: 1rem;
      color: rgba($black, 0.5);
    }
  }
}

@include breakpoint($phone-down) {
  .scenario-feed-wrap {
    display: grid;
    margin: 0 -1rem;
    padding: 1rem 2rem;
    grid: {
      template: {
        columns: repeat(2, 1fr);
        rows: auto;
      }
      gap: 1rem;
    }
  }
  .scenario {
    border: 1px solid rgba($black, 0.5);
    .pseudo-before,
    .pseudo-after {
      display: none;
    }
  }
}

@include breakpoint($tablet) {
  .scenario-feed-wrap {
    margin: 0 -1rem;
    padding: 1rem 2rem;
  }
  .scenario-tab {
    font-size: 1.2em;
  }
  .scenario-feed-wrap {
    grid-template-columns: repeat(3, 1fr);
  }
}

@include breakpoint($desktop) {
  .scenario-feed-wrap {
    max-width: 90rem;
    margin: 0 auto;
    grid-gap: 1.5rem;
  }
}
