.subheader {
  position: relative;
  text-align: center;
  padding: 1em 0;
}
.subheader-title {
  font-style: italic;
}
.subheader-more-btn {
  position: absolute;
  bottom: 1.25rem;
  right: 1rem;
  font-size: 0.8em;
}
