.tab-list {
  @include inline-flex-list;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  border-bottom: 1px solid $blue;
}
.tab-link {
  color: $blue;
  padding: 0 0 0.25rem;
  font-size: 1rem;
  margin-bottom: -1px;
  transition: {
    property: box-shadow;
    duration: $fast;
    timing-function: $cubic;
  }
  &.active {
    box-shadow: inset 0 -0.25rem 0 $orange;
  }
}
.tab-wrap {
  position: relative;
  &.scenario-tab-wrap {
    height: 12rem;
  }
}
.tab {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  z-index: 1;
  transition: {
    property: top, opacity;
    duration: $fast;
    timing-function: $cubic;
  }
  &.active {
    opacity: 1;
    z-index: 2;
  }
}