$requester-color: #9cf1ac;
$doer-color: #add1ff;
$system-color: #b2adff;

.add-post-btn {
  max-height: 1.5rem;
  opacity: 1;
  margin-bottom: 0.5rem;

  transition: {
    property: opacity, max-height;
    duration: $fast;
    timing-function: $cubic;
  }
}

.add-post-wrap {
  &.open {
    .add-post-btn {
      opacity: 0;
      max-height: 0;
    }
  }
}

.post-update-btn {
  margin-top: 0.5rem;
}

.new-update-wrap,
.updates-wrap {
  opacity: 0;
  max-height: 0;

  transition: {
    property: opacity, max-height;
    duration: $fast;
    timing-function: $cubic;
  }

  &.open {
    max-height: 11rem;
    opacity: 1;
  }
}

.updates-wrap {
  padding: 0.25rem 0.5rem 1rem;
  overflow: auto;
}

.update {
  @include inline-flex;
  margin-bottom: 0.5rem;

  .update-avatar-wrap {
    position: relative;

    flex: {
      basis: 10%;
      grow: 1;
    }
  }

  .update-user-info {
    position: absolute;
    bottom: 0;
  }

  .user-avatar {
    @include circle-photo-wrap(2rem);
    margin: 0 auto;

    background: {
      color: rgba($black, 0.1);
      size: cover;
    }
  }

  .user-name,
  .message-timestamp {
    color: rgba($black, 0.5);
    font-size: 0.6rem;
  }

  .user-name {
    text-align: center;
  }

  .update-message {
    position: relative;
    filter: drop-shadow(0 0.125rem 0.25rem rgba($black, 0.1));

    flex: {
      basis: 80%;
      grow: 5;
    }
  }

  .message-pin {
    @include size(0, 0);
    box-sizing: content-box;
    position: absolute;
    bottom: 0;
  }

  .message-content {
    padding: 0.25rem 1rem;
  }

  .message-timestamp {
    padding: 0 1rem 0.25rem;
    text-align: left;
  }

  &.requester-update {
    .update-avatar-wrap {
      margin-right: 2rem;
      order: 1;
    }

    .update-user-info {
      left: 0;
    }

    .update-message {
      order: 2;
      border-radius: 0.5rem 0.5rem 0.5rem 0;
      background: $requester-color;
    }

    .message-pin {
      left: -1rem;

      border: {
        top: 0.5rem solid transparent;
        right: 0.5rem solid $requester-color;
        bottom: 0.5rem solid $requester-color;
        left: 0.5rem solid transparent;
      }
    }

    .message-timestamp {
      text-align: right;
    }
  }

  &.doer-update {
    .update-avatar-wrap {
      margin-left: 2rem;
      order: 2;
    }

    .update-user-info {
      right: 0;
    }

    .update-message {
      order: 1;
      border-radius: 0.5rem 0.5rem 0 0.5rem;
      background: $doer-color;
    }

    .message-pin {
      right: -1rem;

      border: {
        top: 0.5rem solid transparent;
        right: 0.5rem solid transparent;
        bottom: 0.5rem solid $doer-color;
        left: 0.5rem solid $doer-color;
      }
    }
  }

  &.system-update {
    .update-avatar-wrap {
      display: none;
    }

    .update-message {
      background: $system-color;
      border-radius: 0.5rem;
    }
  }
}
