.donator-flow-page {
  background: darken($white, 10%);
  min-height: 100vh;
  .app-header {
    background: $white;
    margin: -1rem -1.5rem 1rem;
    padding: 1rem;
  }
  .login-link {
    text-align: center;
  }
  .settings-header {
    text-transform: uppercase;
    text-align: center;
    margin: 1rem 0;
  }
  .card {
    h4 {
      text-align: center;
      margin-bottom: 1rem;
    }
    &.session-card {
      padding: 1rem;
    }
  }
  .unlimited-amount-option {
    padding-top: 1rem;
    span {
      margin-right: 1rem;
    }
    .unlimited-amount-btn {
      font-size: 1rem;
    }
  }
  .button-grid {
    display: grid;
    padding: .25rem;
    grid: {
      template: {
        columns: repeat(2, 1fr);
        rows: repeat(2, 5rem);
      }
      gap: .25rem;
    }
    .btn {
      font-size: 1.5rem;
      padding: 1rem;
      &:first-of-type {
        background: $orange-bright;
      }
      &:nth-of-type(2) {
        background: $orange;
      }
      &:nth-of-type(3) {
        background: $orange-dark;
      }
      &:nth-of-type(4) {
        background: $red;
      }
    }
  }
  .donation-clarification {
    padding: .5rem 1rem;
  }
  .user-settings {
    padding-top: 1rem;
    .setting-input {
      margin-right: .5rem;
    }
    .setting-label {
      font-size: .9rem;
      color: $orange;
    }
  }
}
.input-with-icon-wrap {
  background: rgba($black, 0.1);
  border: 1px solid $orange;
  font-size: 1.5rem;
  display: inline-flex;
  justify-content: space-between;
  .input-icon {
    background: $orange;
    color: $white;
    text-align: center;
    width: 2.5rem;
    padding: 0.25rem;
  }
  .input-field {
    font-size: 1.5rem;
    background: transparent;
    border: 0;
  }
}
