.donator-flow-page {
  .unlimited-amount-option {
    padding-top: 1rem;

    span {
      margin-right: 1rem;
    }

    .unlimited-amount-btn {
      font-size: 1rem;
    }
  }

  .button-grid {
    display: grid;
    padding: 0.25rem;

    grid: {
      template: {
        columns: repeat(2, 1fr);
        rows: repeat(2, 4rem);
      }
      gap: 0.25rem;
    }

    .btn {
      font-size: 1.5rem;
      padding: 1rem;

      &:first-of-type {
        background: $orange-bright;
      }

      &:nth-of-type(2) {
        background: $orange;
      }

      &:nth-of-type(3) {
        background: $orange-dark;
      }

      &:nth-of-type(4) {
        background: $red;
      }
    }
  }

  .donation-clarification {
    padding: 0.5rem 1rem;
  }

  .user-settings {
    padding-top: 1rem;

    .setting-input {
      margin-right: 0.5rem;
    }

    .setting-label {
      font-size: 0.9rem;
      color: $orange;
    }
  }
}
