.feed-page {
  .app-main {
    padding-top: 1rem;
  }
  .app-footer {
    background: darken($white, 25%);
    color: $blue;
    text-align: left;
    display: inline-flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    font-size: 1.25rem;
  }
  .footer-left,
  .footer-right {
    flex-basis: 40%;
  }
  .footer-right {
    margin-left: 1rem;
  }
  .dollar-amount {
    font-weight: bold;
  }
}
