.flow-page {
  background: darken($white, 10%);
  min-height: 100vh;
  .app-header {
    background: $white;
    margin: -1rem -1.5rem 1rem;
    padding: 1rem;
  }
  .login-link {
    text-align: center;
  }
  .settings-header {
    text-transform: uppercase;
    text-align: center;
    margin: 1rem 0;
  }
  .input-with-icon-wrap {
    @include inline-flex;
    border: 1px solid $orange;
    font-size: 1.5rem;
    .input-icon {
      background: $orange;
      color: $white;
      text-align: center;
      width: 2.5rem;
      padding: 0.25rem;
    }
    .input-field {
      font-size: 1.5rem;
      border: 0;
    }
  }
}
