.flow-page {
  background: darken($white, 10%);
  min-height: 100vh;
  .app-header {
    background: $white;
    margin: -1rem -1.5rem 1rem;
    padding: 1rem;
    .menu,
    .missions-btn {
      top: 1rem;
    }
    .menu {
      left: 1.5rem;
    }
    .missions-btn {
      right: 1.5rem;
    }
  }
  .session-settings {
    padding-bottom: 1rem;
    &:not(:last-of-type) {
      border-bottom: 0.125rem solid rgba($black, 0.1);
    }
  }
  .login-link {
    text-align: center;
  }
  .or-line {
    text-align: center;
    font-style: italic;
    font-size: 0.8rem;
  }
  .input-with-icon-wrap {
    @include inline-flex;
    border: 1px solid $orange;
    font-size: 1.5rem;
    .input-icon {
      background: $orange;
      color: $white;
      text-align: center;
      width: 2.5rem;
      padding: 0.25rem;
    }
    .input-field {
      font-size: 1rem;
      border: 0;
      font-weight: 300;  
    }
  }
}
.photo-card {
  background: transparent;
  border: 1px dashed rgba($black, 0.25);
  border-radius: 0.5rem;
  padding: 1rem;
  .button-row {
    @include inline-flex;
  }
  .photo-icon {
    width: 100%;
    text-align: center;
    font-size: 5rem;
    color: rgba($black, 0.25);
  }
  .input-label {
    font-size: 0.8rem;
    text-align: center;
    width: 8rem;
  }
}