.home-page {
  text-align: center;
  font-size: 1.1em;

  .logo {
    height: 8rem;
    padding: 1rem;

    img {
      max-height: inherit;
      height: 6rem;
    }
  }

  .subheader-home {
    margin-bottom: 1rem;

    .subheader-line {
      padding: 0.5rem 0;

      &:first-of-type {
        display: inline-block;
        margin: 0 auto;
        border-bottom: 0.0625rem dashed $orange;
      }
    }
  }

  .home-header {
    font-weight: bold;
    margin: 2rem 0 1rem;
  }

  .home-btn {
    display: block;
    padding: 1.5rem;
    margin: 0 0 0.5rem;
    width: 100%;
    font-size: 1.25em;
    color: $blue;

    .button-icon {
      color: $white;
      float: right;
    }

    &.donate-btn {
      background: $orange-bright;
    }

    &.do-btn {
      background: $orange;
    }

    &.verify-btn {
      background: $green-bright;
    }
  }
}
