.requester-flow-page {
  .title-card {
    margin-bottom: 1rem;
  }
  .form-input {
    font-size: 1rem;
  }
  .event-card, .jobs-card {
    .input-wrap {
      @include inline-flex;
    }
    .input-label {
      font-weight: bold;
    }
    .form-input {
      margin-left: 1rem;
    }
  }
  .tag-wrap {
    margin-top: .5rem;
  }
}
.remaining-character-count {
  color: rgba($black, 0.25);
  font-size: 0.75rem;
  font-style: italic;
}
