.app-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: darken($white, 25%);
  padding: 1em 1em 2em;
}
.footer-btn {
  display: block;
  margin: 0 auto;
  font-size: 1rem;
  min-width: 10rem;
}
