.app-header {
  position: relative;
  padding-bottom: 1em;
  border-bottom: 0.125rem solid rgba($black, 0.25);
}
.logo img {
  max-height: 3.5rem;
}
.ad-homepage-btn {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.25rem;
}
.title {
  text-align: center;
}
.menu {
  position: absolute;
  top: 0;
  left: 0;
}