.app-header {
	background: $menu-background;
	width: 100%;
	padding: .5em 1em;
	box-shadow: $menu-shadow;
	display: inline-flex;
	justify-content: space-between;
}
.title {
	flex-basis: calc(100% - 2rem);
	text-align: center;
	padding-right: 2rem;
}