.app-header {
  position: relative;
  width: 100%;
  padding: 0.5em 1em;
  z-index: 5;
  border-bottom: 0.125rem solid rgba($black, 0.25);
}
.logo img {
  max-height: 3rem;
}
.ad-homepage-btn {
  position: absolute;
  top: 1rem;
  left: 1rem;
  font-size: 1.25rem;
}

@include breakpoint($tablet) {
  .title {
    font-size: 2em;
  }
}

@include breakpoint($desktop) {
  .title {
    font-size: 2.5em;
  }
}
