@keyframes loader {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes starfall {
  0% {
    top: -10vh;
    opacity: 1;
    transform: rotate(0)
  }
  80% {
    opacity: 0.4;
  }
  90% {
    top: 15vh;
    opacity: 0.1;
    transform: rotate(360deg)
  }
  100% {
    opacity: 0;
    transform: rotate(450deg)
  }
}