@mixin pseudo-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
@mixin inline-list {
  @include pseudo-list;
  li {
    display: inline-block;
  }
}
@mixin inline-flex-list {
  @include pseudo-list;
  display: inline-flex;
}
@mixin alternating-list {
  @include pseudo-list;
  li {
    padding: 0.25rem 0.5rem;
    &:not(:last-of-type) {
      border-bottom: 1px solid rgba($black, 0.1);
    }
    &:nth-of-type(odd) {
      background: rgba($white, 0.05);
    }
    &:nth-of-type(even) {
      background: rgba($black, 0.05);
    }
  }
}
@mixin menu-back {
  background: $menu-background;
  box-shadow: $menu-shadow;
}
@mixin do-not-show {
  position: absolute;
  top: -1000vh;
  left: 0;
  width: 0;
  overflow: hidden;
  display: none;
  visibility: hidden;
  pointer-events: none;
}
@mixin breakpoint($width) {
  @media only screen and (min-width: $width) {
    @content;
  }
}
