@mixin pseudo-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
@mixin inline-list {
  @include pseudo-list;
  li {
    display: inline-block;
  }
}
@mixin alternating-list {
  li {
    padding: .25rem .5rem;
    &:not(:last-of-type) {
      border-bottom: 1px solid rgba($black, .1);
    }
    &:nth-of-type(odd) {
      background: rgba($white, .05);
    }
    &:nth-of-type(even) {
      background: rgba($black, .05);
    }
  }
}
@mixin do-not-show {
  position: absolute;
  top: -1000vh;
  left: 0;
  width: 0;
  overflow: hidden;
  display: none;
  visibility: hidden;
  pointer-events: none;
}
@mixin breakpoint($width) {
   @media only screen and (min-width: $width) {
    @content;
  }
}
