@font-face {
	src: url("./fonts/Montserrat-Light.ttf") format("ttf");
	font: {
		family: "Montserrat";
		weight: 300;
	}
}
@font-face {
	src: url("./fonts/Montserrat-Regular.ttf") format("ttf");
	font: {
		family: "Montserrat";
		weight: 400;
	}
}
@font-face {
	src: url("./fonts/Montserrat-SemiBold.ttf") format("ttf");
	font: {
		family: "Montserrat";
		weight: 600;
	}
}

@font-face {
	src: url("./fonts/Raleway-Regular.ttf") format("ttf");
	font: {
		family: "Raleway";
		weight: 400;
	}
}
@font-face {
	src: url("./fonts/Raleway-SemiBold.ttf") format("ttf");
	font: {
		family: "Raleway";
		weight: 600;
	}
}
