// base colors
$black: #000;
$white: #fff;

$blue: #0a79ce;
$green: #04861c;
$yellow: #fbff00;
$red: #c60000;
$purple: #9000b3;

// menu:
$menu-background: linear-gradient($white, darken($white, 10%));
$menu-shadow: 0 0 1rem rgba($black, 0.5);

// timing functions
$cubic: cubic-bezier(0.73, 0.2, 0.43, 1);
$loader-time: 2s;
$very-fast: 0.1s;
$fast: 0.2s;
$medium: 0.5s;
$slow: 1s;

// weights
$bold-weight: 600;
$h1-weight: 300;
$h2-weight: 400;
$default-weight: 400;

// breakpoints
$phone: 20em; /* 320/16 */
$phone-down: 32em; /* 512/16 */
$tablet: 48em; /* 768/16 */
$desktop: 75em; /* 1200/16 */

// shadows
$taper-shadow: 0.0625rem 0.125rem 0.25rem rgba($black, 0.5);
