// base colors
$black: #000;
$white: #fff;

$red: #d35400;
$orange-bright: #f1c40e;
$orange: #f39c12;
$orange-dark: #e67d23;
$progress-green: #24e051;
$green-bright: #1bbc9c;
$green: #04861c;
$green-dark: #17a084;
$blue: #2c3e50;

$fb-blue: #4165b2;

// timing functions
$cubic: cubic-bezier(0.73, 0.2, 0.43, 1);
$loader-time: 2s;
$very-fast: 0.1s;
$fast: 0.2s;
$medium: 0.5s;
$slow: 1s;

// weights
$bold-weight: 700;
$h1-weight: 300;
$h2-weight: 400;
$default-weight: 400;

// breakpoints
$phone: 20em; /* 320/16 */
$phone-down: 32em; /* 512/16 */
$tablet: 48em; /* 768/16 */
$desktop: 75em; /* 1200/16 */

// shadows
$taper-shadow: 0.0625rem 0.125rem 0.25rem rgba($black, 0.5);
$card-shadow: 0 0.2rem 0.5rem rgba($black, 0.25);
