a {
  color: $blue;
  text-decoration: none;
  transition: {
    property: color;
    duration: $fast;
    timing-function: $cubic;
  }
  &:focus,
  &:hover,
  &:active {
    color: lighten($blue, 10%);
  }
  &:visited {
    color: $blue;
  }
  &.bright-link {
    color: $orange;
    &:focus,
    &:hover,
    &:active {
      color: darken($orange, 10%);
    }
    &:visited {
      color: $orange;
    }
  }
}
