a {
	color: darken($blue, 10%);
	text-decoration: none;
	transition: {
		property: color;
		duration: 0.5s;
		timing-function: $cubic;
	}
	&:focus,
	&:hover {
		color: darken($blue, 20%);
	}
	&:visited {
		color: darken($blue, 10%);
	}
}
