a {
  color: darken($blue, 10%);
  text-decoration: none;
  transition: {
    property: color;
    duration: $fast;
    timing-function: $cubic;
  }
  &:focus,
  &:hover,
  &:active {
    color: darken($blue, 20%);
  }
  &:visited {
    color: darken($blue, 10%);
  }
}
