html {
  -webkit-text-size-adjust: 100%;
}

body {
  position: relative;
  width: 100%;
  min-height: 100vh;
  margin: 0;
  overflow: hidden;
  overflow-y: auto;
  background: $body-bg;

  font: {
    size: 16px;
    family: "Lato", arial, sans-serif;
    weight: 400;
  }

  * {
    box-sizing: border-box;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-backface-visibility: hidden;
    font-kerning: auto;

    &:focus {
      outline: none;
    }
  }
}
