html {
  -webkit-text-size-adjust: 100%;
}
body {
  // position: relative;
  width: 100%;
  min-height: 100vh;
  margin: 0;
  overflow-x: hidden;
  background: linear-gradient(
    to right,
    darken($white, 7%),
    darken($white, 10%),
    darken($white, 7%)
  );
  font: {
    size: 16px;
    family: "Raleway", arial, sans-serif;
    weight: 400;
  }
  * {
    box-sizing: border-box;
    font-smooth: always;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-backface-visibility: hidden;
    font-kerning: auto;
    &:focus {
      outline: none;
    }
  }
}
