button,
.btn {
  background: rgba($black, 0.25);
  color: rgba($white, .9);
  padding: 0.25em 0.5em;
  cursor: pointer;
  border: 0.0625em solid rgba($black, 0.5);
  border-radius: 0.5em;
  transition: {
    property: color;
    duration: $fast;
    timing-function: $cubic;
  }
  a,
  a:visited,
  &:visited {
    color: rgba($white, .9);
  }
  &:focus,
  &:hover {
    color: rgba($white, .9);
    a,
    a:hover,
    a:focus {
    color: rgba($white, .9);
    }
  }
  &:active,
  &.active {
    a,
    a:active {
    color: rgba($white, .9);
    }
  }
}
.btn-lite {
  background: transparent;
  color: $blue;
  padding: 0;
  cursor: pointer;
  border: 0;
  border-radius: none;
  &:hover {
    color: $black;
  }
  &:active,
  &:focus {
    border: 0;
    border-radius: none;
  }
}
