button,
.btn {
  background: rgba($black, 0.1);
  color: rgba($blue, 0.9);
  padding: 0.25em 0.5em;
  cursor: pointer;
  border: 0.125em solid rgba($black, 0.25);
  border-radius: 1em;
  transition: {
    property: color;
    duration: $fast;
    timing-function: $cubic;
  }
  a,
  a:visited,
  &:visited {
    color: $blue;
  }
  &:focus,
  &:hover {
    color: $blue;
    a,
    a:hover,
    a:focus {
      color: $blue;
    }
  }
  &:active,
  &.active {
    a,
    a:active {
      color: $blue;
    }
  }
}
.btn-lite {
  background: transparent;
  color: $blue;
  padding: 0;
  cursor: pointer;
  border: 0;
  border-radius: none;
  &:hover {
    color: $black;
  }
  &:active,
  &:focus {
    border: 0;
    border-radius: none;
  }
}
