button,
.btn {
  background: $orange;
  color: $white;
  padding: 0.5em;
  cursor: pointer;
  border: 0;
  border-radius: 0.5em;
  text-transform: uppercase;

  transition: {
    property: color;
    duration: $fast;
    timing-function: $cubic;
  }

  a,
  a:visited,
  &:visited {
    color: $white;
  }

  &:focus,
  &:hover {
    color: $white;

    a,
    a:hover,
    a:focus {
      color: $white;
    }
  }

  &:active,
  &.active {
    a,
    a:active {
      color: $white;
    }
  }

  &.square-btn {
    border-radius: 0;
  }
}

.btn-lite {
  background: $white;
  color: $blue;
  border: 0.0625rem solid $orange;
  cursor: pointer;
  
  &:hover,
  &:focus,
  &:active {
    color: $blue;
  }
}
