h1,
h2,
h3,
h4,
h5,
h6 {
  color: $blue;
  margin: 0;

  font: {
    family: "Montserrat", arial, sans-serif;
    weight: $h2-weight;
  }

  b {
    font-weight: $bold-weight;
  }
}

h1 {
  font-weight: $h1-weight;
}