input,
select,
textarea {
	margin: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	box-shadow: none;
	width: 100%;
	max-width: 100%;
	padding: 0.125rem 0.25rem;
	background: rgba($white, 0.5);
	font-family: "Raleway", arial, sans-serif;
	border: 1px solid transparent;
	border-radius: 0.25rem;
	transition: {
		property: background, border-color;
		duration: $fast;
		timing-function: $cubic;
	}
	&:focus {
		background: $white;
		border: 1px solid $blue;
	}
	&:-webkit-autofill {
		-webkit-box-shadow: 0 0 0 100rem $white inset;
	}
	&:disabled {
		background: rgba($black, 0.25);
	}
}
input[type="file"] {
	position: absolute;
	z-index: -1;
	top: -100vh;
}
input[type="search"] {
}
input[type="checkbox"],
input[type="radio"] {
	cursor: pointer;
	width: 1rem !important;
	height: 1rem;
	border: 1px solid $blue;
	&:hover {
		background: $blue;
	}
	&:checked {
		background: darken($blue, 10%);
	}
}
input[type="radio"] {
	border-radius: 50%;
}
textarea {
	resize: vertical;
	max-height: 11.5rem;
}
label {
	cursor: pointer;
}
