.app-header
  position: relative
  height: 95px

  h1,
  h2,
  h3
    color: $orange
    text-transform: uppercase
    text-align: center

.app-header-link
  font-family: Arimo
  font-weight: bold
  font-size: 17px
  line-height: 16px
  text-transform: capitalize

.app-header-shim
  width: 94px
  height: 1px
  display: inline-block

.logo
  min-height: 3rem

  img
    max-height: 3rem

.menu
  position: absolute
  top: 0
  left: 0
  z-index: 15

.missions-btn svg
  color: darken($white, 25%)
