.app-header
  position: relative

  h1,
  h2,
  h3
    color: $orange
    text-transform: uppercase
    text-align: center

.logo
  min-height: 3rem

  img
    max-height: 3rem

.menu
  position: absolute
  top: 0
  left: 0
  z-index: 15

.missions-btn svg
  color: darken($white, 25%)
